name: Portfolio CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - [cite_start]run: npm test      # Ejecuta tus pruebas de QA 
      - run: npm run build # Valida que el proyecto compila